{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#contentFor "stylesheet"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism-tomorrow.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/line-numbers/prism-line-numbers.min.css"/>
    <link rel="stylesheet" href="{{asset "built/post.css"}}"/>
{{/contentFor}}

<header class="site-header">
    {{> site-header}}
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <header class="post-full-header">

                <h1 class="post-full-title">{{title}}</h1>

                <div class="post-full-meta">
                    {{#if primary_tag}}
                        {{#primary_tag}}
                        <a href="{{url}}">{{name}}</a>
                        {{/primary_tag}}
                        <span class="bull">&bull;</span>
                    {{/if}}

                    <time class="byline-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                    <span class="byline-reading-time"><span class="bull">&bull;</span> {{reading_time}}</span>
                </div>

                <div class="post-full-byline">
                    <!--author list part-->
                </div>

                {{#if custom_excerpt}}
                    <p class="post-full-custom-excerpt">{{custom_excerpt}}</p>
                {{/if}}
            </header>

            <!-- feature image part -->

            <section class="post-full-content">
                <aside class="post-sidebar">
                    <div class="post-sidebar-container">
                        <span class="toc-title">{{t "Contents"}}</span>
                        <div class="toc"></div>
                        <div id="progress" class="progress">
                            <!--<svg class="progress-circle" width="100%" height="100%" viewBox="0 0 40 40"
                                 preserveAspectRatio="xMinYMin meet">
                                <path d="M50,1a49,49 0 0,1 0,98a49,49 0 0,1 0,-98"/>
                            </svg>-->
                        </div>
                    </div>
                </aside>
                <div class="post-content">
                    {{content}}
                </div>
            </section>

            <script async src="https://comments.app/js/widget.js?2" data-comments-app-website="7KOD2Pma"
                    data-limit="5"></script>

            {{!-- Email subscribe form at the bottom of the page --}}
            {{#if @labs.members}}
                {{> subscribe-form}}
            {{/if}}

            {{!--
            <section class="post-full-comments">
                If you want to embed comments, this is a good place to do it!
            </section>
            --}}

        </article>

    </div>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            {{#if primary_tag}}
            {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
                {{#if related_posts}}
                <article class="read-next-card">
                    <header class="read-next-card-header">
                        {{#../primary_tag}}
                        <h3><span>More in</span> <a href="{{url}}">{{name}}</a></h3>
                        {{/../primary_tag}}
                    </header>
                    <div class="read-next-card-content">
                        <ul>
                            {{#foreach related_posts}}
                            <li>
                                <h4><a href="{{url}}">{{title}}</a></h4>
                                <div class="read-next-card-meta">
                                    <p><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> –
                                        {{reading_time}}</p>
                                </div>
                            </li>
                            {{/foreach}}
                        </ul>
                    </div>
                    <footer class="read-next-card-footer">
                        <a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}}
                            →</a>
                    </footer>
                </article>
                {{/if}}
            {{/get}}
            {{/if}}

            {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#next_post}}
                {{> "post-card"}}
            {{/next_post}}

            {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
            {{#prev_post}}
                {{> "post-card"}}
            {{/prev_post}}
        </div>
    </div>
</aside>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(document).ready(function () {
        // FitVids - start
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
        // FitVids - end

        // Replace nav with title on scroll - start
        Casper.stickyNavTitle({
            navSelector: '.site-nav-main',
            titleSelector: '.post-full-title',
            activeClass: 'nav-post-title-active'
        });
        // Replace nav with title on scroll - end

        // Hover on avatar
        var hoverTimeout;
        $('.author-list-item').hover(function () {
            var $this = $(this);

            clearTimeout(hoverTimeout);

            $('.author-card').removeClass('hovered');
            $(this).children('.author-card').addClass('hovered');

        }, function () {
            var $this = $(this);

            hoverTimeout = setTimeout(function () {
                $this.children('.author-card').removeClass('hovered');
            }, 800);
        });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js"
        integrity="sha256-3teItwIfMuVB74Alnxw/y5HAZ2irOsCULFff3EgbtEs=" crossorigin="anonymous"></script>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('pre[class*=language-]').forEach(function(node) {
            node.classList.add('line-numbers');
        });
        Prism.highlightAll();
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js"></script>
<script>
    tocbot.init({
        tocSelector: '.toc',
        contentSelector: '.post-content',
        hasInnerContainers: true
    });
</script>
<script>
    const bar = new ProgressBar.Circle(progress, {
        color: '#FFEA82',
        trailColor: '#eee',
        trailWidth: 1,
        duration: 1400,
        easing: 'bounce', // easeInOut
        strokeWidth: 6,
        from: {color: '#FFEA82', a: 0},
        to: {color: '#ED6A5A', a: 1},
        // Set default step function for all animate calls
        // step: function (state, circle) {
        //     circle.path.setAttribute('stroke', state.color);
        // }
    });

    // bar.animate(1.0);  // Number from 0.0 to 1.0
    const updateProgress = function () {
        const scroll = $(window).scrollTop();
        const height = $(document).height() - $(window).height();

        bar.animate(scroll / height);
    };
    $(window).scroll(updateProgress);


    // $(function(){
    //     var progressPath = document.querySelector('.progress path');
    //     var pathLength = progressPath.getTotalLength();
    //     progressPath.style.transition = progressPath.style.WebkitTransition = 'none';
    //     progressPath.style.strokeDasharray = pathLength + ' ' + pathLength;
    //     progressPath.style.strokeDashoffset = pathLength;
    //     progressPath.getBoundingClientRect();
    //     progressPath.style.transition = progressPath.style.WebkitTransition =
    //             'stroke-dashoffset 300ms linear';
    //
    //     // 2. Define updateProgress function
    //     const updateProgress = function () {
    //         // calculate values
    //         const scroll = $(window).scrollTop();
    //         const height = $(document).height() - $(window).height();
    //         const progress = pathLength - (scroll * pathLength / height);
    //         // update dashOffset
    //         progressPath.style.strokeDashoffset = progress;
    //     };
    //
    //     // 3. trigger updateProgress once on load and then on scroll
    //     updateProgress();
    //     $(window).scroll(updateProgress);
    //
    // });
</script>
{{/contentFor}}
